* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0
}

a {
    text-decoration: none
}

.container {
    max-width: 1760px;
    margin: 0 auto
}

.filter_btn, .flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.filter_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 0 13px !important
}

.questions-top__btn:hover {
    background-color: #0086c8
}

.filter_btn > :last-child {
    margin-bottom: 20px
}

.filter_btn_title {
    margin: auto 0;
    cursor: pointer;
    padding: 7.5px 0
}

.filter_btn__body {
    display: none;
    font-size: 16px;
    color: #000
}

.filter_btn__body * {
    margin: 0
}

.filter_btn__body_section {
    background: #fff;
    margin-top: 1px;
    line-height: 100%
}

.select_input {
    display: none
}

.select_label {
    cursor: pointer;
    width: 100%;
    padding: 9px 0 9px 138px
}

.select_input:checked + .select_label {
    background: #fff
}

.select_avatar {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.select_head {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    height: 46px;
    padding: 0 13px
}

.select_head__title {
    margin-right: 15px;
    font-weight: 500;
    width: 110px;
    font-size: 14px
}

.select_head__value {
    font-weight: 100
}

.select_head__btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
    background: 0 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    padding: 15px
}

.select.active .select_head__btn {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.select_body {
    display: none;
    font-weight: 100;
    position: relative;
    background: #e5e5e5;
    max-height: 141px;
    overflow-y: auto
}

.select_body::-webkit-scrollbar {
    width: 10px
}

.select_body::-webkit-scrollbar-track {
    background: #ccc
}

.select_body::-webkit-scrollbar-thumb {
    background: #ffcc18;
    border-radius: 15px
}

.select_body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .1)), color-stop(90%, rgba(0, 212, 255, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, .1) 0, rgba(0, 212, 255, 0) 90%)
}

.flex_container.active, .select_body_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.select_body_option {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex_container.active {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.flex_container.active .filter_btn {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.flex_container.active .questions-content {
    width: calc(100% - 422px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 30px;
    margin-top: 0
}

.header {
    background-color: #008fd5;
    font-size: 16px;
    color: #fff;
    height: 91px
}

.header-nav, .questions-top__title {
    padding: 0 50px 0 20px
}

.header-menu li {
    padding: 36px 0
}

.header-menu li:hover, .languages:hover {
    background-color: #0086c8
}

.header-menu li, .navbar-brand {
    margin-top: -10px
}

.header-icon__btn {
    margin-top: -10px;
    padding: 33px 20px
}

.nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 20px
}

.nav-link {
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    text-decoration: none
}

.nav-link, .nav-link:hover, .questions-top__btn:hover, a {
    color: #fff
}

.header-icon__img {
    width: 23px;
    height: 20px
}

.questions {
    background-color: #e5e5e5;
    padding: 14px 0 85px
}

.questions-top {
    padding-left: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.questions-top__btn, .questions-top__title {
    line-height: 35px;
    font-weight: 500
}

.questions-top__title {
    font-size: 29px
}

.header-table th, .questions-top__btn {
    font-size: 21px;
    background-color: #008fd5
}

.questions-top__btn {
    width: 392px;
    height: 50px;
    text-align: left;
    color: #fff;
    padding-left: 20px
}

.questions-content {
    margin-top: 15px;
    -webkit-transition: .5s linear;
    transition: .5s linear
}

.header-table tr {
    height: 83px
}

.header-table th {
    line-height: 23px;
    font-weight: 300
}

.headlines {
    margin-bottom: 20px
}

.headlines-human {
    padding-left: 15px
}

.vertical {
    width: 83px
}

.vertical span {
    position: absolute;
    width: 75px;
    height: 30px;
    background-color: #057fbb;
    top: -15px;
    text-align: center;
    left: 6px
}

.ID {
    padding-left: 15px
}

.cell-table tr {
    background-color: #fff;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 23px
}

.cell-table th {
    padding: 10px
}

.cell-table__indicator {
    background-color: #ffcc18;
    height: 46px;
    width: 9px
}

.done {
    background-color: #6fcf97
}

.failed {
    background-color: #eb5757
}

.text {
    max-width: 500px
}

.data-bold {
    font-weight: 700
}

.cell-table__responsible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.cell-table__responsible img {
    height: 29px;
    padding-right: 12px
}

input.check {
    position: absolute;
    opacity: 0
}

input.check:checked + label svg path {
    stroke-dashoffset: 0;
    background-color: #3498db
}

input.check:checked + label {
    border: 2px solid #000
}

input.check:focus + label {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.check + label {
    display: block;
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 10px 0 5px
}

.check + label:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-radius: 3px
}

.check + label svg {
    pointer-events: none;
    vertical-align: top
}

.check + label svg path {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    -webkit-transition: all 350ms cubic-bezier(1, 0, .37, .91);
    transition: all 350ms cubic-bezier(1, 0, .37, .91)
}

.table {
    color: #fff
}

p.vertical {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0 auto;
    width: 20px
}

.table td, .table th {
    border-top: 6px solid #e5e5e5
}

.bor-none th {
    border: 0
}

.top-border td, .top-border th {
    border-top: 15px solid #e5e5e5
}

.delete {
    text-decoration: line-through;
    color: #d1d1d1 !important;
    background-color: #fff !important
}

@media (max-width: 1680px) {
    .header-table th {
        font-size: 18px
    }

    td {
        font-size: 14px
    }
}

@media (max-width: 1370px) {
    .header-table th {
        font-size: 17px
    }

    td {
        font-size: 12px
    }
}

@media (max-width: 1200px) {
    .nav-link {
        font-size: 14px
    }

    .header-table th {
        font-size: 17px
    }

    td {
        font-size: 12px
    }
}

@media (max-width: 696px) {
    .questions-top__btn, .questions-top__title {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px
    }

    .header-table th {
        font-size: 18px
    }
}

